[Desktop Entry]
Name=Startup Configuration
Comment=View and set startup scripts and applications
Type=Application
Icon=best.ellie.StartupConfiguration
Exec=startup-configuration %F
Terminal=false
StartupNotify=true
Categories=Utility;Settings;DesktopSettings
Keywords=COSMIC
MimeType=