[Desktop Entry]
Name=Cosmic Startup
Comment=set startup scripts/programs
Type=Application
Icon=best.ellie.StartupConfiguration
Exec=startup-configuration %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
